<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.vtools.core.VToolsCoreApp">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.vtools.core.Perspective"
            id="VTools.Core.perspective">
      </perspective>
   </extension>
-->   
   <extension
         name="主菜单"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="com.vtools.core"
               label="VTools">
            <command
                  commandId="com.vtools.core.command.dbinfo"
                  id="com.vtools.core.command.DbInfoCommand"
                  label="DB INFO"
                  style="push">
            </command>
            <separator
                  name="VTools.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.vtools.core.command.templateManager"
                  id="com.vtools.core.command.TemplateManagerCommand"
                  label="Template Manager"
                  style="push">
            </command>
            <command
                  commandId="com.vtools.core.command.codeGenerate"
                  id="com.vtools.core.command.codeGenerate"
                  label="Code Generate"
                  style="push">
            </command>
         </menu>
         
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.vtools.core.command.DbInfoCommand"
            id="com.vtools.core.command.dbinfo"
            name="DB INFO">
      </command>
      <command
            defaultHandler="com.vtools.core.command.TemplateManagerCommand"
            id="com.vtools.core.command.templateManager"
            name="Template Manager">
      </command>
      <command
            defaultHandler="com.vtools.core.command.CodeGenerateCommand"
            id="com.vtools.core.command.codeGenerate"
            name="Code Generate">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.vtools.core.perspective.TemplatePerspective"
            icon="icons/codetemplate.gif"
            id="com.vtools.core.perspective.TemplatePerspective"
            name="模板管理">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="VToolsCore.views"
            class="com.vtools.core.views.CodeTemplateView"
            id="com.vtools.core.views.CodeTemplateView"
            name="VTools.CodeTemplateView"
            restorable="true">
      </view>
      <category
            id="VToolsCore.views"
            name="VTools">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="com.vtools.core.views.CodeTemplateView"
               minimized="false"
               ratio="0.20f"
               relationship="left"
               relative="com.vtools.core.views.CodeTemplateView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="VTools.CodeTemplateView.ActionSet"
            label="VTools.CodeTemplateView.ActionSet"
            visible="true">
         <action
               class="com.vtools.core.actions.RefreshAction"
               icon="src/com/vtools/core/views/refresh.gif"
               id="VTools.CodeTemplateView.ActionSet.Refresh"
               label="刷新"
               style="push"
               toolbarPath="additions"
               tooltip="刷新">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.vtools.core.editors.BasicEditorPart"
            default="false"
            id="com.vtools.core.editors.basiceditorpart"
            name="Template Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
         <category
            description="codetemplate view&apos;s commands"
            id="vtools.core.codetemplatecommands"
            name="vtools.core.codetemplatecommands">
	      </category>
       <command
             categoryId="vtools.core.codetemplatecommands"
             defaultHandler="com.vtools.core.commands.codetemplate.GenerateHandle"
             description="generate code"
             id="vtools.core.codetemplatecommands.generate"
             name="vtools.core.codetemplatecommands.generate">
       </command>
	      <command
             categoryId="vtools.core.codetemplatecommands"
             defaultHandler="com.vtools.core.commands.codetemplate.RefreshHandler"
             description="refresh"
             id="vtools.core.codetemplatecommands.refresh"
             name="vtools.core.codetemplatecommands.refresh">
	      </command>
       <command
             categoryId="vtools.core.codetemplatecommands"
             defaultHandler="com.vtools.core.commands.codetemplate.InsertHandler"
             description="insert"
             id="vtools.core.codetemplatecommands.insert"
             name="vtools.core.codetemplatecommands.insert">
       </command>
       <command
             categoryId="vtools.core.codetemplatecommands"
             defaultHandler="com.vtools.core.commands.codetemplate.DeleteHandle"
             description="delete"
             id="vtools.core.codetemplatecommands.delete"
             name="vtools.core.codetemplatecommands.delete">
       </command>
       <command
             categoryId="vtools.core.codetemplatecommands"
             defaultHandler="com.vtools.core.commands.codetemplate.InsertGroupHandle"
             description="insertGroup"
             id="vtools.core.codetemplatecommands.insertgroup"
             name="vtools.core.codetemplatecommands.insertgroup">
       </command>
       <command
             categoryId="vtools.core.codetemplatecommands"
             defaultHandler="com.vtools.core.commands.codetemplate.CopyGroupHandle"
             description="copyGroup"
             id="vtools.core.codetemplatecommands.copygroup"
             name="vtools.core.codetemplatecommands.copygroup">
       </command>
       <command
             categoryId="vtools.core.codetemplatecommands"
             defaultHandler="com.vtools.core.commands.codetemplate.DeleteGroupHandle"
             description="deleteGroup"
             id="vtools.core.codetemplatecommands.deletegroup"
             name="vtools.core.codetemplatecommands.deletegroup">
       </command>
       <command
             categoryId="vtools.core.codetemplatecommands"
             description="parameter"
             id="vtools.core.codetemplatecommands.paramters"
             name="vtools.core.codetemplatecommands.paramters">
       </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:com.vtools.core.views.CodeTemplateView?after=additions">
         <command
               commandId="vtools.core.codetemplatecommands.generate"
               label="%vtools.core.codetemplatecommands.generate.menuname"
               style="push">
         </command>
         <separator
               name="vtools.core.codetemplate.menu.separator1"
               visible="true">
         </separator>
         <command
               commandId="vtools.core.codetemplatecommands.refresh"
               label="%vtools.core.codetemplatecommands.refresh.menuname"
               style="push">
         </command>
         <separator
               name="vtools.core.codetemplate.menu.separator2"
               visible="true">
         </separator>
         <command
               commandId="vtools.core.codetemplatecommands.insert"
               label="%vtools.core.codetemplatecommands.insert.menuname"
               style="push">
         </command>
         <command
               commandId="vtools.core.codetemplatecommands.delete"
               label="%vtools.core.codetemplatecommands.delete.menuname"
               style="push">
         </command>
         <separator
               name="vtools.core.codetemplate.menu.separator3"
               visible="true">
         </separator>
         <command
               commandId="vtools.core.codetemplatecommands.insertgroup"
               label="%vtools.core.codetemplatecommands.insertgroup.menuname"
               style="push">
         </command>
         <command
               commandId="vtools.core.codetemplatecommands.copygroup"
               label="%vtools.core.codetemplatecommands.copygroup.menuname"
               style="push">
         </command>
         <command
               commandId="vtools.core.codetemplatecommands.deletegroup"
               label="%vtools.core.codetemplatecommands.deletegroup.menuname"
               style="push">
         </command>
         <separator
               name="vtools.core.codetemplate.menu.separator4"
               visible="true">
         </separator>
         <command
               commandId="vtools.core.codetemplatecommands.paramters"
               label="%vtools.core.codetemplatecommands.paramters.menuname"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.vtools.core.views.CodeTemplateView?after=additions">
         <command
               commandId="vtools.core.codetemplatecommands.generate"
               disabledIcon="icons/generated.ico"
               icon="icons/generated.ico"
               label="%vtools.core.codetemplatecommands.generate.menuname"
               style="push"
               tooltip="%vtools.core.codetemplatecommands.generate.menuname">
         </command>
         <separator
               name="vtools.core.codetemplate.toolbar.separator1"
               visible="true">
         </separator>
         <command
               commandId="vtools.core.codetemplatecommands.refresh"
               icon="icons/refresh.gif"
               style="push"
               tooltip="%vtools.core.codetemplatecommands.refresh.menuname">
         </command>
      </menuContribution>
   </extension>

</plugin>
